"*":
  "exception-reporting":
    userId: "13bb9cdd-da63-13b1-1823-f675eae9e9eb"
  welcome:
    showOnStartup: false
  "atom-beautify":
    _analyticsUserId: "6b56f5a4-dcfa-4a12-bbd4-6e777518436a"
    language_python_beautify_on_save: true
    css_newline_between_rules: true
    html_end_with_newline: true
    js_brace_style: "expand"
    language_html_beautify_on_save: true
    language_js_beautify_on_save: true
    language_css_beautify_on_save: true
    language_sass_beautify_on_save: true
    language_scss_beautify_on_save: true
    css_align_assignments: true
    language_sass_default_beautifier: "CSScomb"
    language_scss_default_beautifier: "CSScomb"
  core:
    themes: [
      "one-dark-ui"
      "monokai"
    ]
    excludeVcsIgnoredPaths: false
  editor:
    invisibles: {}
    tabLength: 4
    nonWordCharacters: "./\\\\()\\\"':,.;<>~!@#$%^&*|+=[]{}`~?"
    fontFamily: "Liberation Mono"
    fontSize: 13
  linter: {}
  "linter-flake8": {}
  minimap:
    scrollAnimation: true
    plugins:
      pigments: true
  "merge-conflicts":
    gitPath: "/usr/local/bin/git"
  "tree-view":
    hideIgnoredNames: true
    hideVcsIgnoredFiles: true
  "git-history":
    showDiff: false
  "spell-check": {}
  "git-diff": {}
  "autoclose-html": {}
